.containerArticulo {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 50px;
    
  }
  
  .containerEntrevista {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 9fr);
    grid-gap: 50px;
    justify-content: center;
  }