.containerArticulo {
    width: 60%;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 50px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    
  }
  
  .containerEntrevista {
    width: 100%;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 9fr);
    grid-gap: 50px;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    
  }