body {
    font-family: "Roboto", sans-serif;
  }
  footer {
    margin-top: 20%;
  
    padding-top: 0%;
  }
  
  h2 {
    font-size: 30px;
    text-align: center;
    color: white;
    padding: 15%;
    text-decoration: solid;
  }
  p {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 25px;
    font-style: italic;
  }
  
  section {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  
  aside {
    margin: 5px;
    display: inline-block;
    top: 200px;
  }
  
  header {
    position: fixed;
    width: 100%;
    z-index: 1;
  }