.avatarPY {
    background-image: url(../Galeria/Logo/Principal.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 600px;
  }
  .pPresentacion {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 25px;
  
    font-style: italic;
  }