@mixin img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 1000px;
  }

.avatarPY {
    background-image: url(../Galeria/Logo/Principal.jpg);
   @include img;
  }

  .avatarGaleria {
    background-image: url(../Galeria/Pescador/09.jpg);
    @include img;
    margin-top: 250px;
    margin-bottom: auto;
  }
  .pPresentacion {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 25px;
  
    font-style: italic;
  }

  