html {
  background-color: rgb(252, 252, 252);
  /*background: linear-gradient(to bottom, #000000, #696964);*/
}
body {
  font-family: "Roboto", sans-serif;
}
footer {
  background-color: rgb(88, 84, 84);
  /*margin-top: 50%;*/
  border-top: solid black;
  padding-top: 15%;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: rgb(179, 79, 43);
}
p {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
}

/*contenedores*/

section {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

aside {
  margin: 5px;
  display: inline-block;
  top: 200px;
}

/*
Nav
*/

.nav {
  background-color: black;
  height: 80px;
  color: white;
}
.navContainer {
  display: flex;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.navLogo {
  font-size: 1.5rem;
  text-align: center;
  padding: 2.5rem 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: underline;
  text-decoration-color: white;
  font-size: 1.5rem;
  color: white;
  font-family: "Mukta", sans-serif;
}
.navMenu {
  display: grid;
  grid-auto-flow: column;
  gap: 3rem;
}
.navItem {
  color: white;
  text-decoration: none;
  --clippy: polygon(0 0, 0 0, 0 100%, 0% 100%);
}
.navItem::after {
  content: "";
  display: block;
  background-color: white;
  width: 90%;
  margin-top: 3px;
  height: 3px;
  clip-path: var(--clippy);
  transition: clip-path 0.3s;
}
.navItem:hover {
  --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
/*.navImput:checked + .navMenu {
}*/

.navLabel,
.navInput {
  display: none;
}

/*Presentacion*/

.avatarPY {
  background-image: url(./Galeria/Logo/Principal.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 600px;
}
.pPresentacion {
  line-height: 1.5;
  font-family: "Inter", sans-serif;
  font-weight: 200;
  font-size: 25px;
  color: rgb(247, 123, 8);
  font-style: italic;
  
}

/*Contacto*/



/*Biografia y Entrevista*/

.containerArticulo {
  width: 60%;

  display: grid;
  grid-template-columns: repeat(2, 4fr);
  grid-gap: 50px;

  
}
.containerEntrevista {
  width: 100%;

  display: grid;
  grid-template-columns: repeat(2, 9fr);
  grid-gap: 50px;

  
}

/*Mini Galeriia Index*/

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.titulo {
  text-align: center;
  padding: 4rem 0;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-decoration: underline;
  text-decoration-color: orangered;
  font-size: 2.4rem;
}
.galeria {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, 133px);
  grid-auto-rows: 200px;
  justify-content: center;
  gap: 1rem;
}
.galeriaItem {
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  grid-column: span 2;
  height: 282px;
  /*si cada imagen ocupa 2 columnas de 133px entonces mide 266px mas el gap de 16px que es igual a 282px, este valor que equivale al ancho lo voy a usar para ponerle tbn el alto lo cual me va a acomodar las imagenes con la mismas dimenciones*/
  transition: 0.5s filter;
}
.galeriaItem:hover {
  filter:brightness(0.3);
}
.galeriaItem:first-of-type {
  grid-column: 2 / span 2;
}
.multimedia {
  padding-top: 200px;
}
/*
.multimediaItems{
display: flex;
flex-wrap: wrap;
-ms-flex-align: end;
}
*/

/*Redes*/

.redes{
  display: flex;
  
}

/*MEDIA QUERIES*/

@media screen and (min-width: 320px) and (max-width: 523px) {
  .galeriaItem:first-of-type {
    grid-column: 1 / span 2;
  }
  .galeria {
    grid-auto-rows: 282px;
  }
  .navLabel {
    display: block;
    cursor: pointer;
  }
  .navMenu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: orange;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .navInput:checked + .navMenu {
    clip-path: circle(100% at center);
  }
  .containerArticulo {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 50px;
  }
  .containerEntrevista {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 9fr);
    grid-gap: 50px;

    justify-items: center;
  }
  p {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 15px;
    font-style: italic;
  }
}
@media screen and (min-width: 524px) and (max-width: 698px) {
  .galeriaItem:nth-of-type(odd) {
    grid-column: 2 / span 2;
  }
  .navLabel {
    display: block;
    cursor: pointer;
  }
  .navMenu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: orange;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .navInput:checked + .navMenu {
    clip-path: circle(100% at center);
  }
  .containerArticulo {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 50px;
  }
  .containerEntrevista {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 9fr);
    grid-gap: 50px;

    justify-items: center;
  }
  p {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
  }
}
/*A Solo en esta media hay un instante entre el 698 y el 699 en el que las imagenes se me rompen*/
@media screen and (min-width: 699px) and (max-width: 873px) {
  .galeriaItem:nth-of-type(3n + 1) {
    grid-column: 2 / span 2;
  }
  .navLabel {
    display: block;
    cursor: pointer;
  }
  .navMenu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: orange;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .navInput:checked + .navMenu {
    clip-path: circle(100% at center);
  }
  .containerArticulo {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 50px;
  }
  .containerEntrevista {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 9fr);
    grid-gap: 50px;

  }
  p {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
  }
}
@media screen and (min-width: 874px) and (max-width: 1048px) {
  .galeriaItem:nth-of-type(4n + 1) {
    grid-column: 2 / span 2;
  }
  .navLabel {
    display: block;
    cursor: pointer;
  }
  .navMenu {
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: orange;
    width: 100%;
    left: 0%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }
  .navInput:checked + .navMenu {
    clip-path: circle(100% at center);
  }
  .containerArticulo {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 50px;
  }
  .containerEntrevista {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 9fr);
    grid-gap: 50px;

    justify-items: center;
  }
  p {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
  }
}
@media screen and (min-width: 1049px) and (max-width: 1224px) {
  .galeriaItem:nth-of-type(5n + 1) {
    grid-column: 2 / span 2;
  }
  .containerArticulo {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 50px;
  }
  .containerEntrevista {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 9fr);
    grid-gap: 50px;

    justify-items: center;
  }
  p {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
  }
}
@media screen and (min-width: 1225px) and (max-width: 1399px) {
  .galeriaItem:nth-of-type(6n + 1) {
    grid-column: 2 / span 2;
  }
  .containerArticulo {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 4fr);
    grid-gap: 50px;
  }
  .containerEntrevista {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(1, 9fr);
    grid-gap: 50px;

    justify-items: center;
  }
  p {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
  }
}
@media screen and (min-width: 1400px) {
  .galeriaItem:nth-of-type(7n + 1) {
    grid-column: 2 / span 2;
  }
  .containerArticulo {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 50px;
  }
  .containerEntrevista {
    width: 85%;

    display: grid;
    grid-template-columns: repeat(2, 9fr);
    grid-gap: 50px;

    justify-items: center;
  }
  p {
    line-height: 1.5;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 20px;
    font-style: italic;
  }
}
